* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 14px;

  --bg-darkest: #6B4423;
  --bg-dark: #9A6B4F;
  --bg-medium: #E8DCC8;
  --bg-btn: #1e90ff;
  --bg-hover: #0077cc;

  --text-dark: #2C1810;
  --text-main: #1A0F08;
  --text-hover: #D7B48A;

  --shadow: rgba(0, 0, 0, 0.3);
  --transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-main);
  background-color: var(--bg-dark);
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  white-space: nowrap;
  box-shadow: 1px 2px 10px var(--shadow);
}

header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  gap: 2rem;

}

nav a {
  font-weight: 800;
  font-size: 1.4rem;
  transition: var(--transition);
  color: var(--text-main);
}

nav a.active {
  color: var(--bg-btn);
  font-weight: 700;
}

nav a:hover {
  color: var(--text-hover);
  transition: var(--transition)
}

.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(images/background3.jpg) center/cover no-repeat;
  opacity: 0.7;
  z-index: 1;
}

.hero>* {
  position: relative;
  z-index: 2;
  text-shadow: 1px 2px var(--shadow);
}


.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: var(--bg-medium);
  border: 5px solid var(--bg-medium);
  margin: 50px;
}

.div3 img,
.div4 img,
.div5 img,
.div6 img {
  width: 50%;
  max-width: 120px;
  height: auto;
  margin: 5px auto;
}

.div3,
.div4,
.div5,
.div6 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.services img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.div1>img,
.div8>img {
  display: block;
  height: 100%;
  width: 100%;
}

.services>.div2,
.services>.div7 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.services li {
  list-style-type: circle;
  list-style-position: inside;
}

.services>div {
  background-color: var(--bg-dark);
}

.div1 {
  grid-column: 1/3;
}

.div2 {
  grid-column: 3/5;
}

.div7 {
  grid-column: 1/3;
}

.div8 {
  grid-column: 3/5;
}

.destination-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr;
  gap: 20px;
  margin: 50px;
}

.destination-header {
  text-align: center;
  max-width: 100ch;
  margin: 5rem auto 3rem auto;
}

.destination-header h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.destination-header p {
  font-size: 1.6rem;
  line-height: 1.7;
  opacity: 0.9;
}


.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: var(--transition);
}

.destination-card {
  position: relative;
}

.destination-card>h3 {
  position: absolute;
  color: var(--bg-btn);
  text-shadow: 1px 1px var(--shadow);
  z-index: 2;
  text-align: center;
  width: 100%;
}

.destination-card span {
  display: inline-block;
  max-width: 20ch;
  text-align: center;
  font-size: 1rem;
  color: var(--bg-medium);
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 0.3rem;
  text-shadow: 1px 1px var(--shadow);
  background: rgba(0, 0, 0, 0.4);
}


.destination-card:hover>h3 {
  opacity: 0;
}

.destination-card>h3 {
  top: 40%;
  font-size: 2rem;
}

.des1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.des2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.des3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.des4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.des5 {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
}

.destination-grid .contact-btn {
  grid-column: 1/-1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-medium);
  color: #1A0F08;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s ease;
  text-align: center;
  font-size: 1.5rem;
}

.des1:hover .overlay,
.des2:hover .overlay,
.des3:hover .overlay,
.des4:hover .overlay,
.des5:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}


.contact-btn,
button {
  text-decoration: none;
  background-color: var(--bg-btn);
  color: var(--bg-medium);
  font-size: 1.5rem;
  padding: 20px 20px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: var(--transition);
  text-align: center;
  margin: 20px auto;
}

.contact-btn:hover {
  background-color: var(--bg-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px var(--shadow);
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 1px 1px 10px var(--shadow);
}

/* animation on header */
@keyframes appearSlowly {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-header {
  font-size: 5rem;
  animation: appearSlowly 1.5s ease-in-out;
}

.slogan {
  font-size: 3rem;
  margin-top: 1rem;
  animation: appearSlowly 1.5s ease-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* contact page */
.contact-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 3rem;
  border-radius: 15px;
  background-color: var(--bg-medium);
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  padding: 0.75rem;
  border: 1px solid #9A8A78;
  border-radius: 6px;
}

.contact-form button {
  background-color: var(--bg-btn);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-info {
  text-align: center;
  background-color: var(--bg-medium);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 1.5rem;
}


.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
  border: 2px solid var(--text-hover);
  font-family: "Montserrat", sans-serif;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border: 2px solid var(--bg-darkest);
  outline: none;
}

/* Tablet screens (≤ 992px) */
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }

  .services>.div2,
  .services>.div7 {
    display: flex;
    flex-direction: column;
  }

  .div3,
  .div5 {
    grid-column: 1/3;
    padding: 0.5rem;
  }

  .div4,
  .div6 {
    grid-column: 3/5;
    padding: 0.5rem;

  }

  .div3 img,
  .div4 img,
  .div5 img,
  .div6 img {
    width: 40%;
    font-size: 1rem;
  }

  .overlay {
    font-size: 0.8rem;
  }

}

/* mobile screens (≤ 768px) */
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main-header {
    font-size: 4rem;
    width: 10ch;
  }

  .slogan {
    font-size: 2rem;
    width: 20ch;
  }

  nav {
    flex-direction: column;
    row-gap: 1px;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }

  .services div {
    grid-column: 1/2;
  }

  .services>.div2,
  .services>.div7 {
    padding: 1.5rem;
  }

  .destination-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;

  }

  .des1,
  .des2,
  .des3,
  .des4,
  .des5 {
    grid-column: 1/2;
  }

  .des1 {
    grid-row: 1/2;
  }

  .des2 {
    grid-row: 2/3;
  }

  .des3 {
    grid-row: 3/4;
  }

  .des4 {
    grid-row: 4/5;
  }

  .des5 {
    grid-row: 5/6;
  }

  .overlay {
    font-size: 1rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 0.5rem;
    background-color: var(--bg-dark);
  }

  .contact-btn,
  button {
    padding: 5px 10px;
    letter-spacing: 0.01rem;
    font-size: 1.2rem;
  }

  body {
    padding-bottom: 60px;
  }


}